
services: 
# database
  db: 
    image: postgres:17-bookworm
    container_name: postgres_db
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: meomeomeo123
      POSTGRES_DB: football_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d football_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    networks: 
      - app

  #backend  
  backend:
    build: ./backend
    container_name: fastapi_app
    ports: 
      - "8080:8080"
    environment: 
      DATABASE_URL: postgresql://postgres:meomeomeo123@db:5432/football_db
    depends_on:
      db: 
        condition: service_healthy
    networks: 
      - app 
  
  # frontend 
  frontend: 
    build: ./frontend
    container_name: streamlit_app
    ports: 
      - "8501:8501"
    environment: 
      backend_env: backend
    depends_on:
      backend: 
        condition: service_started
    networks: 
      - app
  
networks: 
    app: 
      driver: bridge
  
volumes: 
  postgres_data: 
